
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    text-align: center;
    direction: rtl;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

#timer {
    font-size: 24px;
    font-weight: bold;
    color: red;
    margin: 20px;
}

.question {
    margin: 20px auto;
    width: 80%;
    text-align: right;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
